@page "/notfound"

<PageTitle>Страница не найдена</PageTitle>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1>Ошибка 404</h1>
        </div>
        <div class="card-body">
            <p>Страница не найдена</p>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-primary">Вернуться на главную</a>
        </div>
    </div>
</div>
