﻿
@page "/courses"
@using Hits.Blazor.Todo.FinalProject.GubanovaSO.Models
@using Hits.Blazor.Todo.FinalProject.GubanovaSO.Data.Services
@inject CourseService courseService
@inject NavigationManager navigate

<PageTitle>Курсы</PageTitle>

<h1>Курсы</h1>

<div class="container">
    @if (courses == null)
    {
        <p>Loading ...</p>
    }
    else
    {
        <AuthorizeView>
            <Authorized>
                <div class="btn-group m-2">
                    <button class="btn btn-primary" @onclick="AddCourse">Новый курс</button>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="card-group">
            @foreach (var course in courses)
            {
                <div class="card">
                    <div class="card-header">
                        @course.Title
                    </div>
                    <div class="card-body">
                        <p>@course.Description</p>
                        <p class="text-muted small">@course.Category | @course.DurationHours часов</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="courses/@course.Id">Подробнее</a>
                        <AuthorizeView>
                            <Authorized>
                                <a class="btn btn-primary" href="courses/edit/@course.Id">Изменить</a>
                                <button class="btn btn-danger" @onclick="async () => await DeleteCourse(course.Id)">Удалить</button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    List<Course>? courses;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        courses = await courseService.GetAllCoursesAsync();
    }

    void AddCourse()
    {
        navigate.NavigateTo("courses/create");
    }

    async Task DeleteCourse(int id)
    {
        await courseService.DeleteCourseAsync(id);
        courses = await courseService.GetAllCoursesAsync();
    }
}