.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,.4);
}

.navbar-brand {
    font-size: 1.1rem;
    color: white !important;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

.nav-link {
    color: white !important;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
}

    .nav-link:hover {
        background-color: rgba(255,255,255,.1);
        color: white;
    }

    .nav-link.active {
        background-color: rgba(255,255,255,.25);
        color: white;
    }

.nav-form {
    width: 100%;
    margin: 0;
    padding: 0;
}

    .nav-form .nav-link {
        width: 100%;
        padding: 0 1rem;
        margin: 0;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

        .nav-form .nav-link:hover {
            background-color: rgba(255,255,255,.1);
        }

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        overflow-y: auto;
    }
}
