@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="nav-menu">
    <nav class="navbar-internal">
        <div class="nav-container">
            <h3 class="app-title">Курсы</h3>

            <ul class="nav-list">
                <li>
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Главная
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="courses">
                        Курсы
                    </NavLink>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li>
                            <NavLink class="nav-link" href="my-learning">
                                Мои курсы
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="courses/create">
                                Создать курс
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>

            <div class="nav-footer">
                <AuthorizeView>
                    <Authorized>
                        <div class="user-profile">
                            <div class="user-info">
                                <p class="user-name">@context.User.Identity?.Name</p>
                                <NavLink class="profile-link" href="Account/Profile">
                                    Профиль
                                </NavLink>
                            </div>
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <button type="submit" class="logout-btn">Выход</button>
                            </form>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="auth-buttons">
                            <NavLink class="auth-link login" href="Account/Login">
                                Вход
                            </NavLink>
                            <NavLink class="auth-link register" href="Account/Register">
                                Регистрация
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</div>
